<%= form_for [current_user, Item.new], remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control", placeholder: "Enter task here!" %>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>